<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>账户充值</title>
    <link rel="stylesheet" href="../static/lib/bootstrap.css">
    <link rel="stylesheet" href="../src/css/financialdetails.css">
</head>
<body>
<section class="member-header not-select">
    <img src="../static/image/member/LOGO.png" alt="">
    <div class="member-header-right">
        <div class="member-header-usericon">
            <img src="../static/image/member/Head-portrait.png" alt="">
        </div>
        <span>易购全球</span>
        <a href="javascript:void(0)">安全退出</a> |
        <a href="javascript:void(0)">返回首页</a>
    </div>
</section>
<!--导航-->
<nav class="member-nav clearfix not-select">
    <ul>
        <li class="m-nav-index">
            <div class="m-nav-item">
                <span class="iconfont icon-huiyuanshouyeICON"></span>
                <span>首页</span>
            </div>
        </li>
        <li>
            <div class="m-nav-item">
                <span class="iconfont icon-woyaojijianICON"></span>
                <span>我要寄件</span>
                <div class="m-nav-arrow"> </div>
            </div>
            <ul class="m-nav-dropDown">
                <li><a href="#">出口寄件</a></li>
                <li><a href="#">进口寄件</a></li>
                <li><a href="#">运单列表</a></li>
                <li><a href="#">账单明细</a></li>
            </ul>
        </li>
        <li>
            <div class="m-nav-item">
                <span class="iconfont icon-kuajingshangpinICON"></span>
                <span>跨境商品</span>
                <div class="m-nav-arrow"> </div>
            </div>
            <ul class="m-nav-dropDown">
                <li class="m-nav-secTitle">供货</li>
                <li><a href="#">发布商品</a></li>
                <li><a href="#">商品管理</a></li>
                <li><a href="#">货源订单</a></li>
                <li class="m-nav-secTitle">分销</li>
                <li><a href="#">分销订单</a></li>
            </ul>
        </li>
        <li>
            <div class="m-nav-item">
                <span class="iconfont icon-beianshenbaoICON"></span>
                <span>备案申报</span>
                <div class="m-nav-arrow"> </div>
            </div>
            <ul class="m-nav-dropDown">
                <li><a href="#">商品备案</a></li>
                <li><a href="#">订单申报</a></li>
            </ul>
        </li>
        <li>
            <div class="m-nav-item">
                <span class="iconfont icon-wodedingdanICON"></span>
                <span>我的订单</span>
                <div class="m-nav-arrow"> </div>
            </div>
            <ul class="m-nav-dropDown">
                <li><a href="#">我的订单</a></li>
                <li><a href="#">我的订单</a></li>
            </ul>
        </li>
        <li>
            <div class="m-nav-item">
                <span class="iconfont icon-wodezichanICON"></span>
                <span>我的资产</span>
                <div class="m-nav-arrow"> </div>
            </div>
            <ul class="m-nav-dropDown">
                <li><a href="#">我的资产</a></li>
                <li><a href="#">我的资产</a></li>
                <li><a href="#">我的资产</a></li>
                <li><a href="#">我的资产</a></li>
            </ul>
        </li>
        <li>
            <div class="m-nav-item">
                <span class="iconfont icon-yonghuzhongxinICON"></span>
                <span>用户中心</span>
                <div class="m-nav-arrow"> </div>
            </div>
            <ul class="m-nav-dropDown">
                <li><a href="#">用户中心</a></li>
            </ul>
        </li>
    </ul>
</nav>
<!--会员中心-->
<section class="person-center">
    <div class="person-center-contain">
        <div class="person-bread-nav">
            <span>您的位置：</span>
            <ol class="breadcrumb">
                <li><a href="#">我的资产</a></li>
                <li class="active">账户充值</li>
            </ol>
        </div>
        <div class="person-center-wrap">
            <div class="person-center-title">
                <span class="iconfont icon-yonghuxinxixiushi"></span>
                <span>账户充值</span>
            </div>
            <div class="person-center-info">
                <!--左侧信息导航-->
                <div class="person-center-info-left not-select">
                    <ul>
                        <li><a href="#">资产明细</a></li>
                        <li class="person-center-active"><a href="#">账户充值</a></li>
                        <li><a href="#">账户提现</a></li>
                    </ul>
                </div>
                <!--右侧信息显示-->
                <div class="person-center-info-right">
                    <div class="financial-detail-contain">
                        <p>充值成功后，若系统没有及时更新信息，请退出后重新登录即可 <br/>
                            如遇到问题，请联系客服为您处理
                        </p>
                        <div class="account-recharge">
                            <form action="">
                                <table>
                                    <tr>
                                        <td class="ar-left">账户余额</td>
                                        <td class="ar-right">
                                            <p>￥<span>0.00</span></p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="ar-left">支付方式</td>
                                        <td class="ar-right">
                                            <ul class="payment-list not-select">
                                                <li payment-name="alipay" class="payway-selected">
                                                    <div class="recharge-item">
                                                        <img src="../static/image/member/payment/alipay.png" alt="">
                                                    </div>
                                                    <b></b>
                                                </li>
                                                <li payment-name="wechat">
                                                    <div class="recharge-item">
                                                        <img src="../static/image/member/payment/wechat.png" alt="">
                                                    </div>
                                                    <b></b>
                                                </li>
                                            </ul>
                                            <input type="hidden" id="payway" name="payway" value="alipay">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="ar-left">充值金额</td>
                                        <td class="ar-right"><input type="number"
                                                                    placeholder="充值金额"
                                                                    id="rechargeMoney"
                                                                    name="rechargeMoney"> 元</td>
                                    </tr>
                                </table>
                                <button class="ego-btn recharge-btn">立即充值</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--会员中心页尾-->
<footer class="member-footer">
    <p>Copyright © 2016 易购全球平台 egoint.com All Rights Reserved 备案号：蜀ICP备15029615号</p>
</footer>
<script src="../static/lib/jquery.js"></script>
<script src="../static/lib/bootstrap.js"></script>
<script src="../src/js/popUp.js"></script>
<script>
    $(document).ready(function () {
        //选择支付方式
        $('.payment-list li').on('click',function () {
            var $this = $(this);
            $this.addClass('payway-selected');
            $this.siblings().removeClass('payway-selected');
            $('#payway').val($this.attr('payment-name'));
        })
    })
</script>
</body>

</html>