<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>忘记密码</title>
    <link rel="stylesheet" href="../static/lib/bootstrap.css">
    <link rel="stylesheet" href="../src/css/forget.css">
</head>
<body>
<!--头部-->
<header class="regLogin-header">
    <div class="regLogin-header-contain">
        <img src="../static/image/index/header/LOGO.png" alt="">
    </div>
</header>
<!--中间部分-->
<section class="regLogin-main">
    <div class="regLogin-mainWrap">
        <div class="regLogin-box-bg">
            <div class="forget-box">
                <div class="forget-box-title">
                    密码找回
                </div>
                <div class="forget-panel">
                    <form action="" id="forget-form">
                        <table>

                            <tr>
                                <td class="forget-form-left"><label for="user_login">用户名：</label></td>
                                <td class="forget-form-right" colspan="2">
                                    <input type="text"
                                           placeholder="请输入手机号或邮箱"
                                           id="user_login"
                                           name="user_login">
                                </td>
                            </tr>
                            <tr>
                                <td class="forget-form-left"><label for="img_code">图形验证：</label></td>
                                <td class="forget-form-middle">
                                    <input type="text"
                                           placeholder="请输入验证码"
                                           id="img_code"
                                           name="img_code"
                                           maxlength="4">
                                </td>
                                <td>
                                    <div>图形</div>
                                </td>
                            </tr>
                            <tr>
                                <td class="forget-form-left"><label for="verify_code">验证码：</label></td>
                                <td class="forget-form-middle">
                                    <input type="text"
                                           placeholder="请输入验证码"
                                           id="verify_code"
                                           name="verify_code"
                                           maxlength="4">
                                </td>
                                <td>
                                    <button class="forget-getCode">获取验证码</button>
                                </td>
                            </tr>
                            <tr>
                                <td class="forget-form-left"><label for="new_pwd">新密码：</label></td>
                                <td class="forget-form-right" colspan="2">
                                    <input type="password"
                                           name="new_pwd"
                                           id="new_pwd"
                                           placeholder="请填写密码,6-18个字符">
                                </td>
                            </tr>
                            <tr>
                                <td class="forget-form-left"><label for="new_pwd_confirm">重复密码：</label></td>
                                <td class="forget-form-right" colspan="2">
                                    <input type="password"
                                           name="new_pwd_confirm"
                                           id="new_pwd_confirm"
                                           placeholder="请再次填写密码">
                                </td>
                            </tr>
                            <!-- -->
                        </table>

                        <button class="forget-save-pwd">保存密码</button>
                    </form>

                    <p>想起密码？<a href="">立即登录>></a></p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--页尾-->
<footer class="ego-footer">
    <div class="ego-footer-contain ">
        <div class="ego-footer-item ego-footer-about">
            <h5>关于我们</h5>
            <ul>
                <li><a href="">公司简介</a></li>
                <li><a href="">主营业务</a></li>
                <li><a href="">操作指引</a></li>
            </ul>
        </div>
        <div class="ego-footer-item ego-footer-newscenter">
            <h5>新闻中心</h5>
            <ul>
                <li><a href="">通知公告</a></li>
                <li><a href="">常见问题</a></li>
                <li><a href="">培训回顾</a></li>
            </ul>
        </div>
        <div class="ego-footer-item ego-footer-help">
            <h5>帮助中心</h5>
            <ul>
                <li><a href="">常见问题</a></li>
                <li><a href="">使用流程</a></li>
                <li><a href="">网站地图</a></li>
            </ul>
        </div>
        <div class="ego-footer-item ego-footer-scan">
            <img src="../static/image/index/footer/QR-code.png" alt="">
            <p>
                扫描关注易购全球订阅号<br/>
                随时获知一手平台资讯
            </p>
        </div>
        <div class="ego-footer-item ego-footer-contact">
            <h5>联系我们</h5>
            <ul>
                <li>服务时间:09:00-18:00</li>
                <li>服务热线:028-65596899</li>
            </ul>
            <div class="ego-footer-conn-info">
                <div class="ego-footer-cinfo-item">
                    <div class="ego-footer-icon ego-icon-company"></div>
                    <div class="ego-footer-poptips">
                        <p>四川丝路易购科技有限公司</p>
                        <div class="ego-footer-littlearrow"></div>
                    </div>
                </div>
                <div class="ego-footer-cinfo-item">
                    <div class="ego-footer-icon ego-icon-address"></div>
                    <div class="ego-footer-poptips">
                        <p>成都市天府软件园D5-4</p>
                        <div class="ego-footer-littlearrow"></div>
                    </div>
                </div>
                <div class="ego-footer-cinfo-item">
                    <div class="ego-footer-icon ego-icon-email"></div>
                    <div class="ego-footer-poptips">
                        <p>6555555@126.com</p>
                        <div class="ego-footer-littlearrow"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ego-footer-siteinfo">
        <p>Copyright © 2016 易购全球平台 egoint.com All Rights Reserved 备案号：蜀ICP备15029615号</p>
    </div>
</footer>

</body>
<script src="../static/lib/jquery.js"></script>
<script src="../static/lib/jquery.validate.min.js"></script>
<script src="../src/js/popUp.js"></script>
<script src="../src/js/forget.js"></script>
</html>