<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>账户安全|修改密码</title>
    <link rel="stylesheet" href="../static/lib/bootstrap.css">
    <link rel="stylesheet" href="../static/lib/cropper/cropper.min.css">
    <link rel="stylesheet" href="../static/lib/sitelogo/sitelogo.css">
    <link rel="stylesheet" href="../src/css/personalcenter.css">
</head>
<body>
<section class="member-header not-select">
    <img src="../static/image/member/LOGO.png" alt="">
    <div class="member-header-right">
        <div class="member-header-usericon">
            <img src="../static/image/member/Head-portrait.png" alt="">
        </div>
        <span>易购全球</span>
        <a href="javascript:void(0)">安全退出</a> |
        <a href="javascript:void(0)">返回首页</a>
    </div>
</section>
<!--导航-->
<nav class="member-nav clearfix not-select">
    <ul>
        <li class="m-nav-index">
            <div class="m-nav-item">
                <span class="iconfont icon-huiyuanshouyeICON"></span>
                <span>首页</span>
            </div>
        </li>
        <li>
            <div class="m-nav-item">
                <span class="iconfont icon-woyaojijianICON"></span>
                <span>我要寄件</span>
                <div class="m-nav-arrow"> </div>
            </div>
            <ul class="m-nav-dropDown">
                <li><a href="#">出口寄件</a></li>
                <li><a href="#">进口寄件</a></li>
                <li><a href="#">运单列表</a></li>
                <li><a href="#">账单明细</a></li>
            </ul>
        </li>
        <li>
            <div class="m-nav-item">
                <span class="iconfont icon-kuajingshangpinICON"></span>
                <span>跨境商品</span>
                <div class="m-nav-arrow"> </div>
            </div>
            <ul class="m-nav-dropDown">
                <li class="m-nav-secTitle">供货</li>
                <li><a href="#">发布商品</a></li>
                <li><a href="#">商品管理</a></li>
                <li><a href="#">货源订单</a></li>
                <li class="m-nav-secTitle">分销</li>
                <li><a href="#">分销订单</a></li>
            </ul>
        </li>
        <li>
            <div class="m-nav-item">
                <span class="iconfont icon-beianshenbaoICON"></span>
                <span>备案申报</span>
                <div class="m-nav-arrow"> </div>
            </div>
            <ul class="m-nav-dropDown">
                <li><a href="#">商品备案</a></li>
                <li><a href="#">订单申报</a></li>
            </ul>
        </li>
        <li>
            <div class="m-nav-item">
                <span class="iconfont icon-wodedingdanICON"></span>
                <span>我的订单</span>
                <div class="m-nav-arrow"> </div>
            </div>
            <ul class="m-nav-dropDown">
                <li><a href="#">我的订单</a></li>
                <li><a href="#">我的订单</a></li>
            </ul>
        </li>
        <li>
            <div class="m-nav-item">
                <span class="iconfont icon-wodezichanICON"></span>
                <span>我的资产</span>
                <div class="m-nav-arrow"> </div>
            </div>
            <ul class="m-nav-dropDown">
                <li><a href="#">我的资产</a></li>
                <li><a href="#">我的资产</a></li>
                <li><a href="#">我的资产</a></li>
                <li><a href="#">我的资产</a></li>
            </ul>
        </li>
        <li>
            <div class="m-nav-item">
                <span class="iconfont icon-yonghuzhongxinICON"></span>
                <span>用户中心</span>
                <div class="m-nav-arrow"> </div>
            </div>
            <ul class="m-nav-dropDown">
                <li><a href="#">用户中心</a></li>
            </ul>
        </li>
    </ul>
</nav>
<!--会员中心-->
<section class="person-center">
    <div class="person-center-contain">
        <div class="person-bread-nav">
            <span>您的位置：</span>
            <ol class="breadcrumb">
                <li><a href="#">个人中心</a></li>
                <li><a href="#">账户安全</a></li>
                <li class="active">修改密码</li>
            </ol>
        </div>
        <div class="person-center-wrap">
            <div class="person-center-title">
                <span class="iconfont icon-yonghuxinxixiushi"></span>
                <span>修改密码</span>
            </div>
            <div class="person-center-info">
                <!--左侧信息导航-->
                <div class="person-center-info-left not-select">
                    <div id="crop-avatar" class="person-center-info-usericon">
                        <div class="avatar-view" title="点击更换头像">
                            <img src="../static/image/member/Head-portrait.png">
                        </div>
                    </div>
                    <p>HI! <span>易购全球</span></p>
                    <ul>
                        <li><a href="#">用户信息</a></li>
                        <li class="person-center-active"><a href="#">账户安全</a></li>
                        <li><a href="#">实名认证</a></li>
                        <li><a href="#">地址管理</a></li>
                    </ul>
                </div>
                <!--右侧信息显示-->
                <div class="person-center-info-right">
                    <!--提示框-->
                    <div class="alert alert-warning alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <strong>Warning!</strong> Better check yourself, you're not looking too good.
                    </div>
                    <!--/提示框-->
                    <form action="" id="modify_password_form">
                        <div class="as-contain safecontain-modify-password">
                            <table class="table">
                                <tr>
                                    <td class="as-contain-left">旧密码：</td>
                                    <td class="as-contain-right">
                                        <input type="password"
                                               placeholder="请输入旧密码"
                                               id="old_password"
                                               name="old_password">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="as-contain-left">新密码：</td>
                                    <td class="as-contain-right">
                                        <input type="password"
                                               placeholder="请输入新密码"
                                               id="new_password"
                                               name="new_password">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="as-contain-left">重复新密码：</td>
                                    <td class="as-contain-right">
                                        <input type="password"
                                               placeholder="请再次输入新密码"
                                               id="new_password_confirm"
                                               name="new_password_confirm">
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="safecontain-controls">
                            <button type="button" class="ego-btn modify-cancel">取消</button>
                            <button type="submit" class="ego-btn modify-done">修改</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--会员中心页尾-->
<footer class="member-footer">
    <p>Copyright © 2016 易购全球平台 egoint.com All Rights Reserved 备案号：蜀ICP备15029615号</p>
</footer>
<!--头像上传-->
<div class="modal fade" id="avatar-modal" aria-hidden="true" aria-labelledby="avatar-modal-label" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form class="avatar-form" action="{{url('admin/upload-logo')}}" enctype="multipart/form-data" method="post">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal" type="button">&times;</button>
                    <h4 class="modal-title" id="avatar-modal-label">上传头像</h4>
                </div>
                <div class="modal-body">
                    <div class="avatar-body">
                        <div class="avatar-upload">
                            <input class="avatar-src" name="avatar_src" type="hidden">
                            <input class="avatar-data" name="avatar_data" type="hidden">
                            <label for="avatarInput">图片上传</label>
                            <!---->
                            <a href="javascript:;" class="a-upload">
                                <span>选择图片</span>
                                <input class="avatar-input" id="avatarInput" name="avatar_file" type="file">
                            </a>
                        </div>
                        <div class="row">
                            <div class="col-md-9">
                                <div class="avatar-wrapper"></div>
                            </div>
                            <div class="col-md-3">
                                <div class="avatar-preview preview-lg"></div>
                                <div class="avatar-preview preview-md"></div>
                                <div class="avatar-preview preview-sm"></div>
                            </div>
                        </div>
                        <div class="row avatar-btns">
                            <div class="col-md-9">
                                <div class="btn-group">
                                    <button class="btn" data-method="rotate" data-option="-90" type="button" title="Rotate -90 degrees"><i class="fa fa-undo"></i> 向左旋转</button>
                                </div>
                                <div class="btn-group">
                                    <button class="btn" data-method="rotate" data-option="90" type="button" title="Rotate 90 degrees"><i class="fa fa-repeat"></i> 向右旋转</button>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <button class="btn btn-success btn-block avatar-save" type="submit"><i class="fa fa-save"></i> 保存修改</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="loading" aria-label="Loading" role="img" tabindex="-1"></div>
</body>
<script src="../static/lib/jquery.js"></script>
<script src="../static/lib/bootstrap.js"></script>
<script src="../static/lib/cropper/cropper.min.js"></script>
<script src="../static/lib/sitelogo/sitelogo.js"></script>
<script src="../static/lib/jquery.validate.min.js"></script>
<script>
    //自定义提示文字
    (function( factory ) {
        if ( typeof define === "function" && define.amd ) {
            define( ["jquery", "../jquery.validate"], factory );
        } else {
            factory( jQuery );
        }
    }(function( $ ) {
        $.extend($.validator.messages, {
            required: "这是必填项",
            email: "请输入有效的电子邮件地址",
            number: "请输入有效的数字",
            digits: "只能输入数字",
            equalTo: "两次输入的密码不同",
            maxlength: $.validator.format("最多可以输入 {0} 个字符"),
            minlength: $.validator.format("最少要输入 {0} 个字符"),
            rangelength: $.validator.format("长度在 {0} 到 {1} 之间"),
        });
    }));
    //修改密码的验证
    var validate1 = $("#modify_password_form").validate({
        debug: true,//调试模式，只验证不真的提交表单
        onkeyup:false,
        submitHandler: function(form){
            alert("提交表单");
            form.submit();
        },
        rules: {
            old_password:{
                required:true,
                rangelength:[6,18]
            },
            new_password:{
                required:true,
                rangelength:[6,18]
            },
            new_password_confirm:{
                required:true,
                rangelength:[6,18],
                equalTo:"#new_password"
            }
        },
        errorPlacement: function(error, element) { //错误信息位置设置方法
            error.appendTo(element.parent());
            $(element).on('focus',function () {
                $(this).next().hide()
            })
        },
        errorClass: "error"//默认为错误的样式类为：error
    });

</script>
</html>