<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>会员中心</title>
    <link rel="stylesheet" href="../static/lib/bootstrap.css">
    <link rel="stylesheet" href="../src/css/member.css">
    <link rel="stylesheet" href="../src/css/sender.css">
    <style>

    </style>
</head>

<body>
    <!--头部-->
    <section class="member-header not-select">
        <img src="../static/image/member/LOGO.png" alt="">
        <div class="member-header-right">
            <div class="member-header-usericon">
                <img src="../static/image/member/Head-portrait.png" alt="">
            </div>
            <span>易购全球</span>
            <a href="javascript:void(0)">安全退出</a> |
            <a href="javascript:void(0)">返回首页</a>
        </div>
    </section>
    <!--导航-->
    <nav class="member-nav clearfix not-select">
        <ul>
            <li class="m-nav-index">
                <div class="m-nav-item">
                    <span class="iconfont icon-huiyuanshouyeICON"></span>
                    <span>首页</span>
                </div>
            </li>
            <li>
                <div class="m-nav-item">
                    <span class="iconfont icon-woyaojijianICON"></span>
                    <span>我要寄件</span>
                    <div class="m-nav-arrow"> </div>
                </div>
                <ul class="m-nav-dropDown">
                    <li><a href="#">出口寄件</a></li>
                    <li><a href="#">进口寄件</a></li>
                    <li><a href="#">运单列表</a></li>
                    <li><a href="#">账单明细</a></li>
                </ul>
            </li>
            <li>
                <div class="m-nav-item">
                    <span class="iconfont icon-kuajingshangpinICON"></span>
                    <span>跨境商品</span>
                    <div class="m-nav-arrow"> </div>
                </div>
                <ul class="m-nav-dropDown">
                    <li class="m-nav-secTitle">供货</li>
                    <li><a href="#">发布商品</a></li>
                    <li><a href="#">商品管理</a></li>
                    <li><a href="#">货源订单</a></li>
                    <li class="m-nav-secTitle">分销</li>
                    <li><a href="#">分销订单</a></li>
                </ul>
            </li>
            <li>
                <div class="m-nav-item">
                    <span class="iconfont icon-beianshenbaoICON"></span>
                    <span>备案申报</span>
                    <div class="m-nav-arrow"> </div>
                </div>
                <ul class="m-nav-dropDown">
                    <li><a href="#">商品备案</a></li>
                    <li><a href="#">订单申报</a></li>
                </ul>
            </li>
            <li>
                <div class="m-nav-item">
                    <span class="iconfont icon-wodedingdanICON"></span>
                    <span>我的订单</span>
                    <div class="m-nav-arrow"> </div>
                </div>
                <ul class="m-nav-dropDown">
                    <li><a href="#">我的订单</a></li>
                    <li><a href="#">我的订单</a></li>
                </ul>
            </li>
            <li>
                <div class="m-nav-item">
                    <span class="iconfont icon-wodezichanICON"></span>
                    <span>我的资产</span>
                    <div class="m-nav-arrow"> </div>
                </div>
                <ul class="m-nav-dropDown">
                    <li><a href="#">我的资产</a></li>
                    <li><a href="#">我的资产</a></li>
                    <li><a href="#">我的资产</a></li>
                    <li><a href="#">我的资产</a></li>
                </ul>
            </li>
            <li>
                <div class="m-nav-item">
                    <span class="iconfont icon-yonghuzhongxinICON"></span>
                    <span>用户中心</span>
                    <div class="m-nav-arrow"> </div>
                </div>
                <ul class="m-nav-dropDown">
                    <li><a href="#">用户中心</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <!--会员中心-->
    <section class="person-center">
        <div class="person-center-contain">
            <div class="person-bread-nav">
                <span>您的位置：</span>
                <ol class="breadcrumb">
                    <li><a href="#">我要推广</a></li>
                    <li class="active">出口寄件</li>
                </ol>
            </div>
            <form action="#" name="add-userInfo-form" class="form-inline">
                <div class="sender-header">
                    <div class="pull-right sender-progress">
                        <ul class="none">
                            <!-- 当前模块rotate  添加active-->
                            <li class="rotate active">1 <span class="info">填写寄件信息</span></li>
                            <li class="line">
                            </li>
                            <li class="rotate">2 <span class="info">填写产品信息</span></li>
                            <li class="line">
                            </li>
                            <li class="rotate ">3 <span class="info">运价匹配</span></li>
                            <li class="line">
                            </li>
                            <li class="rotate ">4 <span class="info">生成运单</span></li>
                        </ul>
                    </div>
                    <button type="button" class="btn btn-warning btn-import" data-toggle="modal" data-target="#importModal">批量模板导入</button>
                </div>
                <div class="sender-content">
                    <!--收货地址-->
                    <section id="userInfo" class="sender-user-info" data-page='1'>
                        <div class="user-info-header">
                            <i></i>
                            <h4>出口寄件</h4>
                        </div>
                        <div class="user-info-content">
                            <h4 class="title">发件人信息</h4>
                            <ul class="clearfix user-info-select-box">
                                <li class="item select-item active" data-id="1">
                                    <a href="javascript:;" class="set-address text-center">默认地址</a>
                                    <p class="info">
                                        <span class="name">朝日天</span>
                                        <span class="tellphone">18181357777</span>
                                    </p>
                                    <div class="address">
                                        四川省成都市高新区天府软件圆D54楼001号
                                    </div>
                                    <div class="operation">
                                        <a href="javascript:;" class="update">修改</a>
                                        <a href="javascript:;" class="delete">删除</a>
                                    </div>
                                </li>
                                <li class="item select-item" data-id="2">
                                    <a href="javascript:;" class="set-address text-center">设为默认</a>
                                    <p class="info">
                                        <span class="name">朝日天</span>
                                        <span class="tellphone">18181357777</span>
                                    </p>
                                    <div class="address">
                                        四川省成都市高新区天府软件圆D54楼001号
                                    </div>
                                    <div class="operation">
                                        <a href="javascript:;" class="update">修改</a>
                                        <a href="javascript:;" class="delete">删除</a>
                                    </div>
                                </li>
                                <li class="item add-item">
                                    <a href="javascript:void(0);" class="add-address" data-toggle="modal" data-target="#addAddressModal">
                                        <i>+</i>
                                        <div>增加地址</div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="add-user-info-content">
                            <h4 class="title">收件人信息</h4>

                            <fieldset>
                                <span class="form-group">
                                        <label>姓名：</label>
                                        <input type="text" class="form-control" name="name" minlength="2" maxlength="8" required>
                                    </span>
                                <span class="form-group">
                                        <label>联系方式：</label>
                                        <input type="text" class="form-control" name="phone" phone="true" minlength="11" maxlength="11" cellphone="true" required>
                                    </span>
                                <span class="form-group">
                                        <label>邮编：</label>
                                        <input type="text" class="form-control" name="postcode" digits="true" minlength="6" maxlength="6" required>
                                    </span>
                            </fieldset>
                            <fieldset class="mt20">
                                <span class="form-group">
                                        <label>国家：</label>
                                        <select name="country" id="country" class="form-control" required>
                                            <option value="0">中国</option>
                                            <option value="0">韩国</option>
                                            <option value="0">日本</option>
                                        </select>
                                    </span>
                                <span class="form-group">
                                        <label>州/郡/省：</label>
                                        <select name="province" id="province" class="form-control" required>
                                            <option value="0">中国</option>
                                            <option value="0">韩国</option>
                                            <option value="0">日本</option>
                                        </select>
                                    </span>
                                <span class="form-group">
                                        <label>城市：</label>
                                        <select name="city" id="city" class="form-control" required>
                                            <option value="0">资阳</option>
                                            <option value="0">成都</option>
                                            <option value="0">基本</option>
                                        </select>
                                    </span>
                                <span class="form-group">
                                        <label>详细地址：</label>
                                        <input type="text" class="form-control address" name="address" required>
                                    </span>
                            </fieldset>
                        </div>
                    </section>
                </div>
                <div class="sender-page">
                    <button type="submit" class="btn btn-next">下一步</button>
                </div>
            </form>
        </div>
    </section>
    <!--会员中心页尾-->
    <footer class="member-footer">
        <p>Copyright © 2016 易购全球平台 egoint.com All Rights Reserved 备案号：蜀ICP备15029615号</p>
    </footer>
    <!---新增地址-->
    <div class="modal fade" id="addAddressModal" tabindex="-1" role="dialog" data-keyboard="false" aria-labelledby="addAddressModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content sender-add-address-modal">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="addAddressModal">新增发件地址</h4>
                </div>
                <div class="modal-body">
                    <form action="#" class="form-horizontal" name="add-address-form">
                        <div class="form-group form-group-xs">
                            <label class="col-sm-3 control-label">类型：</label>
                            <div class="col-sm-8">
                                <input type="radio" class="hidden" id="out" name="selectType" checked/><label for="out" class="out type">出口</label>
                                <input type="radio" class="hidden" id="in" name="selectType" /><label for="in" class="in type">进口</label>
                            </div>
                        </div>
                        <div class="form-group form-group-xs">
                            <label class="col-sm-3 control-label">姓名：</label>
                            <div class="col-sm-8">
                                <input class="form-control" name="name" type="text" minlength="2" maxlength="8" required/>
                            </div>
                        </div>
                        <div class="form-group form-group-xs">
                            <label class="col-sm-3 control-label">电话：</label>
                            <div class="col-sm-8">
                                <input type="text" name="cellphone" class="form-control" minlength="11" maxlength="11" mobile="true" required/>
                            </div>
                        </div>
                        <div class="form-group form-group-xs">
                            <label class="col-sm-3 control-label">身份证号：</label>
                            <div class="col-sm-8">
                                <input type="text" name="idcard" class="form-control" minlength="15" maxlength="18" idcard="true" required/>
                            </div>
                        </div>
                        <div class="form-group form-group-xs">
                            <label class="col-sm-3 control-label">国家：</label>
                            <div class="col-sm-8">
                                <select name="county" class="form-control">
                                    <option value="0">中国</option> 
                                    <option value="0">中国</option>      
                                    <option value="0">中国</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">省/市/区:</label>
                            <div class="col-sm-8">
                                <select name="provinces" class="form-control">
                                    <option value="0">中国</option> 
                                    <option value="0">中国</option>      
                                    <option value="0">中国</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group form-group-xs">
                            <label class="col-sm-3 control-label">邮编：</label>
                            <div class="col-sm-8">
                                <input type="text" name="zipcode" class="form-control" digits="true" minlength="6" maxlength="6" required>
                            </div>
                        </div>
                        <div class="form-group form-group-xs">
                            <label class="col-sm-3 control-label">详细地址：</label>
                            <div class="col-sm-8">
                                <textarea type="text" name="address" class="form-control" required></textarea>
                            </div>
                        </div>
                </div>
                <div class="modal-footer">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-8 btn-save-section">
                        <button type="submit" class="btn btn-primary btn-block btn-lg btn-save">保存</button>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
    <!--模板导入-->
    <!-- Modal -->
    <div class="modal fade  bs-example-modal-lg importModal" id="importModal" tabindex="-1" data-keyboard="false" role="dialog"
        aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="importModalLabel">选择模板 <span>( 请先在"用户信息-地址管理" 中维护默认<a href="#">寄件地址</a> )</span></h4>
                </div>
                <div class="modal-body">
                    <div class="import-modal-content">
                        <div class="pull-left tabel-show-btn">
                            <button type="button" class="btn btn-primary btn-dowload" data-type="sku">SKU模板下载</button>
                        </div>
                        <div class="pull-left tabel-show-content">
                            <h5>模板样式：</h5>
                            <div class="tabel-show-section">
                                <table class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <td>订单号码</td>
                                            <td>物流类型</td>
                                            <td>物流方式</td>
                                            <td>收件人姓名</td>
                                            <td>电话</td>
                                            <td>详细地址</td>
                                            <td>城市</td>
                                            <td>州/郡/省</td>
                                            <td>邮编</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>123456</td>
                                            <td>邮政</td>
                                            <td>11-e邮宝</td>
                                            <td>Kill MIll</td>
                                            <td>415 461 0467</td>
                                            <td>中国高新区</td>
                                            <td>成都</td>
                                            <td>高新区</td>
                                            <td>631300</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <h5>适用类型：</h5>
                            <p>1.如果你直接使用<a href="#">商品库</a>中的商品信息,请下载此模板 ;</p>
                            <p>2.如果1个订单有多件商品,请下载此模板(需提前到<a href="#">商品库</a>中维护)。</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="import-modal-content">
                        <div class="pull-left tabel-show-btn">
                            <button type="button" class="btn btn-primary btn-dowload" data-type="sku">商品模板下载</button>
                        </div>
                        <div class="pull-left tabel-show-content">
                            <h5>模板样式：</h5>
                            <div class="tabel-show-section">
                                <table class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <td>订单号码</td>
                                            <td>物流类型</td>
                                            <td>物流方式</td>
                                            <td>收件人姓名</td>
                                            <td>电话</td>
                                            <td>详细地址</td>
                                            <td>城市</td>
                                            <td>州/郡/省</td>
                                            <td>邮编</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>123456</td>
                                            <td>邮政</td>
                                            <td>11-e邮宝</td>
                                            <td>Kill MIll</td>
                                            <td>415 461 0467</td>
                                            <td>中国高新区</td>
                                            <td>成都</td>
                                            <td>高新区</td>
                                            <td>631300</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <h5>适用类型：</h5>
                            <p>1.如果商品库中无可用商品信息,请下载此模板</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="../static/lib/jquery.js"></script>
<script src="../static/lib/bootstrap.js"></script>
<script src="../static/lib/jquery.validate.min.js"></script>
<script src="../static/lib/validate.config.js"></script>
<script>
    $(function () {
        //增加地址
        $('form[name="add-address-form"]').validate({
            errorClass: 'v-error',
            errorElement: 'span',
            debug: true,
            messages: {
                cellphone: {
                    required: "请输入手机号码",
                    minlength: "请输入正确的手机号"
                },
                postcode: {
                    required: "请输入邮编",
                    digits: "请输入正确的邮编"
                },
                idcard: {
                    required: "请输入身份证号"
                },
                zipCode: {
                    required: "请输入与邮编"
                }
            },
            submitHandler: function (form) {
                alert($(form).serialize())
                $.ajax({
                    url: "",
                    type: "POST",
                    data: $(form).serialize(),
                    dataType: "json",
                    success: function (data) {
                    },
                    error: function () {
                    }
                });
            }
        })

        //收件人信息
        $('form[name="add-userInfo-form"]').validate({
            errorClass: 'v-error',
            errorElement: 'span',
            debug: true,
            messages: {
                phone: {
                    required: "请输入手机号码",
                    minlength: "请输入正确的手机号"
                },
                postcode: {
                    required: "请输入邮编",
                    digits: "请输入正确的邮编"
                },
                name: {
                    required: "请输入姓名"
                }
            },
            submitHandler: function (form) {
                $.ajax({
                    url: "",
                    type: "POST",
                    data: $(form).serialize(),
                    dataType: "json",
                    success: function (data) {
                        location.href = "./sender_two.html"
                    },
                    error: function () {
                    }
                });
            }
        })

        // //将表单的数据保存到本地
        // function saveUserInfo( formName,formData ){
        //     var datas = formData.match(/\w*=[^&]*/g) || [];
        //     var obj = [];
        //     datas.forEach(function(item,i){
        //         var arr = item.split("=");
        //         obj.push({name:arr[0],value:arr[1]})
        //     })

        //     sessionStorage.setItem(formName, JSON.stringify(obj))
        // }
        var $height = $(window).height();
        $height = $height - 440;
        $('.member-todo').css({
            minHeight: $height
        })

        $('.set-address').on('click', function () {
            var $this = $(this);
            var id = $this.data('id')

            var tipTexts = ['默认地址', '设为默认'];
            changeAddress('/test', { id: id }, function (res) {
                if (res) {
                    $this.html(tipTexts[0]);
                    $this.parent('.select-item').addClass("active").siblings().removeClass("active")
                    $this.parent('.select-item').siblings().find(".set-address").html(tipTexts[1])
                }
            })
        })

        //设置默认地址
        /*
        * url  String 请求地址
        * data Object 参数
        * callback function 回调
        */
        function changeAddress(url, data, scallback, ecallback) {
            $.ajax({
                url: "",
                type: "POST",
                data: data,
                dataType: "json",
                cache: false,
                success: function (res) {
                    acallback(res)
                }.bind(this),
                error: function (e) {
                    alert('设置默认地址失败')
                }.bind(this)
            })
        }


        // $('.add-address').on('click', function () {
        //     $('.add-user-info-content').toggleClass("hidden");
        // })

        // //这里选项卡其实走不通  还是要submit 提交才行
        // $('.btn-next').on('click',function(){
        //     var $this = $(this)
        //     var page = $this.data("page")
        //     $('.sender-user-info').each(function(i,item){
        //         if($(this).attr('data-page') == page){
        //             $(this).show()
        //         }else{
        //             $(this).hide();
        //         }
        //     })
        // })

    })

</script>

</html>