<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>会员中心</title>
  <link rel="stylesheet" href="../static/lib/bootstrap.css">
  <link rel="stylesheet" href="../src/css/member.css">
  <link rel="stylesheet" href="../src/css/sender.css">
  <style>

  </style>
</head>

<body>
  <!--头部-->
  <section class="member-header not-select">
    <img src="../static/image/member/LOGO.png" alt="">
    <div class="member-header-right">
      <div class="member-header-usericon">
        <img src="../static/image/member/Head-portrait.png" alt="">
      </div>
      <span>易购全球</span>
      <a href="javascript:void(0)">安全退出</a> |
      <a href="javascript:void(0)">返回首页</a>
    </div>
  </section>
  <!--导航-->
  <nav class="member-nav clearfix not-select">
    <ul>
      <li class="m-nav-index">
        <div class="m-nav-item">
          <span class="iconfont icon-huiyuanshouyeICON"></span>
          <span>首页</span>
        </div>
      </li>
      <li>
        <div class="m-nav-item">
          <span class="iconfont icon-woyaojijianICON"></span>
          <span>我要寄件</span>
          <div class="m-nav-arrow"> </div>
        </div>
        <ul class="m-nav-dropDown">
          <li><a href="#">出口寄件</a></li>
          <li><a href="#">进口寄件</a></li>
          <li><a href="#">运单列表</a></li>
          <li><a href="#">账单明细</a></li>
        </ul>
      </li>
      <li>
        <div class="m-nav-item">
          <span class="iconfont icon-kuajingshangpinICON"></span>
          <span>跨境商品</span>
          <div class="m-nav-arrow"> </div>
        </div>
        <ul class="m-nav-dropDown">
          <li class="m-nav-secTitle">供货</li>
          <li><a href="#">发布商品</a></li>
          <li><a href="#">商品管理</a></li>
          <li><a href="#">货源订单</a></li>
          <li class="m-nav-secTitle">分销</li>
          <li><a href="#">分销订单</a></li>
        </ul>
      </li>
      <li>
        <div class="m-nav-item">
          <span class="iconfont icon-beianshenbaoICON"></span>
          <span>备案申报</span>
          <div class="m-nav-arrow"> </div>
        </div>
        <ul class="m-nav-dropDown">
          <li><a href="#">商品备案</a></li>
          <li><a href="#">订单申报</a></li>
        </ul>
      </li>
      <li>
        <div class="m-nav-item">
          <span class="iconfont icon-wodedingdanICON"></span>
          <span>我的订单</span>
          <div class="m-nav-arrow"> </div>
        </div>
        <ul class="m-nav-dropDown">
          <li><a href="#">我的订单</a></li>
          <li><a href="#">我的订单</a></li>
        </ul>
      </li>
      <li>
        <div class="m-nav-item">
          <span class="iconfont icon-wodezichanICON"></span>
          <span>我的资产</span>
          <div class="m-nav-arrow"> </div>
        </div>
        <ul class="m-nav-dropDown">
          <li><a href="#">我的资产</a></li>
          <li><a href="#">我的资产</a></li>
          <li><a href="#">我的资产</a></li>
          <li><a href="#">我的资产</a></li>
        </ul>
      </li>
      <li>
        <div class="m-nav-item">
          <span class="iconfont icon-yonghuzhongxinICON"></span>
          <span>用户中心</span>
          <div class="m-nav-arrow"> </div>
        </div>
        <ul class="m-nav-dropDown">
          <li><a href="#">用户中心</a></li>
        </ul>
      </li>
    </ul>
  </nav>
  <!--会员中心-->
  <section class="person-center">
    <div class="person-center-contain">
      <div class="person-bread-nav">
        <span>您的位置：</span>
        <ol class="breadcrumb">
          <li><a href="#">我要推广</a></li>
          <li class="active">出口寄件</li>
        </ol>
      </div>
      <div class="sender-header">
        <div class="pull-right sender-progress">
          <ul class="none">
            <!-- 当前模块rotate  添加active-->
            <li class="rotate">1 <span class="info">填写寄件信息</span></li>
            <li class="line">
            </li>
            <li class="rotate active">2 <span class="info">填写产品信息</span></li>
            <li class="line">
            </li>
            <li class="rotate ">3 <span class="info">运价匹配</span></li>
            <li class="line">
            </li>
            <li class="rotate ">4 <span class="info">生成运单</span></li>
          </ul>
        </div>
        <button type="button" class="btn btn-warning btn-import" data-toggle="modal" data-target="#importModal">批量模板导入</button>
      </div>
      <form action="#" name="parcel-form" class="form-inline">
        <div class="sender-content">
          <!--商品明细-->
          <section id="shopDetail" class="sender-shop-detail" data-page='2'>
            <div class="user-info-header">
              <i></i>
              <h4>出口寄件</h4>
            </div>
            <div class="sender-parcel-detail-content">
              <h4 class="title">包裹明细</h4>
              <div class="parcel-form">
                <span class="form-group order-input">
                              <label>订单</label>
                              <input type="text" name="order" class="form-control" required>
                          </span>
                <span class="form-group weight-input">
                              <label >包裹总重量</label>
                              <span class="input-group">
                              <input type="text" name="weight" class="form-control" isNumber="true" kg="true" required>
                              <div class="input-group-addon">kg</div>
                              </span>
                </span>
                <fieldset class="remark-input mt20">
                  <p class="form-group">
                    <label>备注</label>
                    <input type="text" name="remark" class="note form-control" required>
                  </p>
                </fieldset>
              </div>
            </div>
            <div class="shop-detail">
              <h4 class="title">商品明细</h4>
              <div class="pull-right form-inline select-shop-tempalte">
                <span class="form-group">
                      <label>商品库模板：</label>
                      <select name="template" id="template" class="select-template form-control" required>
                          <option value="select">请选择</option>
                          <option value="template1">模板１</option>
                          <option value="template2">模板２</option>
                      </select>
                      <button type="button" class="btn btn-link">新增模板</button>
                  </span>
              </div>
              <table class="table  table-hover shop-table" border="1">
                <thead>
                  <tr>
                    <td>SKU</td>
                    <td>商品名称(中文)</td>
                    <td>商品名称(英文)</td>
                    <td>HS编码</td>
                    <td>数量</td>
                    <td>净重(kg)</td>
                    <td>申报单价</td>
                    <td>申报币别</td>
                    <td>操作</td>
                  </tr>
                </thead>
                <tbody class="shop-table-tbody">
                  <tr>
                    <td class="sku"><input type="text" name="sku" class="form-control" required></td>
                    <td class="zh-name"><input type="text" class="form-control" name="zh" required></td>
                    <td class="en-name"><input type="text" class="form-control" name="en" required></td>
                    <td class="hs"><input type="text" class="form-control" name="hs"></td>
                    <td class="num"><input type="text" class="form-control" positiveinteger="true" name="num" required></td>
                    <td class="kg"><input type="text" class="form-control" isNumber="true" name="kg" required></td>
                    <td class="price"><input type="text" name="price" class="form-control" isNumber="true" required></td>
                    <td class="type">
                      <select name="type" class="form-control">
                        <option value="1">新加坡元-DDD</option>
                      </select>
                    </td>
                    <td class="delete"><button type="button" class="btn btn-primary btn-delete">删除</button></td>
                  </tr>
                </tbody>
              </table>
              <button type="button" class="btn btn-warning btn-add">新增</button>
            </div>
          </section>
        </div>
        <div class="sender-page">
          <a href="javascript:history.back()" class="btn btn-prev btn-sm">上一步</a>
          <button type="submit" class="btn btn-next btn-sm">下一步</button>
        </div>
      </form>
    </div>
  </section>
  <!--会员中心页尾-->
  <footer class="member-footer">
    <p>Copyright © 2016 易购全球平台 egoint.com All Rights Reserved 备案号：蜀ICP备15029615号</p>
  </footer>
  <!--新增商品明细
  <div class="modal fade" id="addShopDetailModal" tabindex="-1" role="dialog" data-keyboard="false" aria-labelledby="addShopDetailModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content sender-add-address-modal">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="addShopDetailModal">新增商品明细</h4>
        </div>
        <div class="modal-body">
          <form action="#" class="form-horizontal" name="add-shop-detail-form">
            <div class="form-group form-group-xs">
              <label class="col-sm-3 control-label">SKU：</label>
              <div class="col-sm-8">
                <input class="form-control" name="sku" type="text" required/>
              </div>
            </div>
            <div class="form-group form-group-xs">
              <label class="col-sm-3 control-label">商品名称 (中文)：</label>
              <div class="col-sm-8">
                <input class="form-control" name="shopNameZh" type="text" required/>
              </div>
            </div>
            <div class="form-group form-group-xs">
              <label class="col-sm-3 control-label">商品名称 (英文)：</label>
              <div class="col-sm-8">
                <input class="form-control" name="shopNameEn" type="text" required/>
              </div>
            </div>
            <div class="form-group form-group-xs">
              <label class="col-sm-3 control-label">HS编码：</label>
              <div class="col-sm-8">
                <input class="form-control" name="hsCode" type="text" required/>
              </div>
            </div>
            <div class="form-group form-group-xs">
              <label class="col-sm-3 control-label">数量：</label>
              <div class="col-sm-8">
                <input class="form-control" name="num" type="text" positiveinteger="true" required/>
              </div>
            </div>
            <div class="form-group form-group-xs">
              <label class="col-sm-3 control-label">净重(kg)：</label>
              <div class="col-sm-8">
                <input class="form-control" name="weight" type="text" isNumber="true" required/>
              </div>
            </div>
            <div class="form-group form-group-xs">
              <label class="col-sm-3 control-label">申报单价：</label>
              <div class="col-sm-8">
                <input class="form-control" name="price" type="text" isNumber="true" required/>
              </div>
            </div>
            <div class="form-group form-group-xs">
              <label class="col-sm-3 control-label">申报币别：</label>
              <div class="col-sm-8">
                <input class="form-control" name="priceType" type="text" required/>
              </div>
            </div>
        </div>
        <div class="modal-footer">
          <div class="col-sm-3"></div>
          <div class="col-sm-8 btn-save-section">
            <button type="submit" class="btn btn-primary btn-block btn-lg btn-save">保存</button>
          </div>
        </div>
        </form>
      </div>
    </div>
  </div>-->
  <!--模板导入-->
  <!-- Modal -->
  <div class="modal fade  bs-example-modal-lg importModal" id="importModal" tabindex="-1" data-keyboard="false" role="dialog"
    aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="importModalLabel">选择模板 <span>( 请先在"用户信息-地址管理" 中维护默认<a href="#">寄件地址</a> )</span></h4>
        </div>
        <div class="modal-body">
          <div class="import-modal-content">
            <div class="pull-left tabel-show-btn">
              <button type="button" class="btn btn-primary btn-dowload" data-type="sku">SKU模板下载</button>
            </div>
            <div class="pull-left tabel-show-content">
              <h5>模板样式：</h5>
              <div class="tabel-show-section">
                <table class="table table-bordered table-hover">
                  <thead>
                    <tr>
                      <td>订单号码</td>
                      <td>物流类型</td>
                      <td>物流方式</td>
                      <td>收件人姓名</td>
                      <td>电话</td>
                      <td>详细地址</td>
                      <td>城市</td>
                      <td>州/郡/省</td>
                      <td>邮编</td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>123456</td>
                      <td>邮政</td>
                      <td>11-e邮宝</td>
                      <td>Kill MIll</td>
                      <td>415 461 0467</td>
                      <td>中国高新区</td>
                      <td>成都</td>
                      <td>高新区</td>
                      <td>631300</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <h5>适用类型：</h5>
              <p>1.如果你直接使用<a href="#">商品库</a>中的商品信息,请下载此模板 ;</p>
              <p>2.如果1个订单有多件商品,请下载此模板(需提前到<a href="#">商品库</a>中维护)。</p>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="import-modal-content">
            <div class="pull-left tabel-show-btn">
              <button type="button" class="btn btn-primary btn-dowload" data-type="sku">商品模板下载</button>
            </div>
            <div class="pull-left tabel-show-content">
              <h5>模板样式：</h5>
              <div class="tabel-show-section">
                <table class="table table-bordered table-hover">
                  <thead>
                    <tr>
                      <td>订单号码</td>
                      <td>物流类型</td>
                      <td>物流方式</td>
                      <td>收件人姓名</td>
                      <td>电话</td>
                      <td>详细地址</td>
                      <td>城市</td>
                      <td>州/郡/省</td>
                      <td>邮编</td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>123456</td>
                      <td>邮政</td>
                      <td>11-e邮宝</td>
                      <td>Kill MIll</td>
                      <td>415 461 0467</td>
                      <td>中国高新区</td>
                      <td>成都</td>
                      <td>高新区</td>
                      <td>631300</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <h5>适用类型：</h5>
              <p>1.如果商品库中无可用商品信息,请下载此模板</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<script src="../static/lib/jquery.js"></script>
<script src="../static/lib/bootstrap.js"></script>
<script src="../static/lib/jquery.validate.min.js"></script>
<script src="../static/lib/validate.config.js"></script>
<script>
  var index = 0;  //每次添加绑定一个新的name 不然无法验证
  var defaultOptions = ['类型1', '类型2', '类型3'];   //申报币别下拉框数据
  var testTem = [{    //测试模板数据
    sku: "111",
    zh: "中文",
    en: "英文",
    hs: "1223",
    num: "11111",
    kg: "12",
    price: "11"
  }];

  //表单name配置  方便下面做循环收集
  //后端 解析parse 的字段
  var formNamesConfig = {
    sku: "sku",
    zh: "zh",
    en: "en",
    hs: "hs",
    num: "num",
    kg: "kg",
    price: "price",
    type: "type"
  }
  $(function () {
    $('.select-template').on('change', function () {
      var tem = $(this).val();
      if (tem != 'select') {
        $.ajax({
          url: "111",
          type: "POST",
          cache: false,
          data: { template: tem },
          dataType: "json",
          success: function (res) {

          },
          error: function (res) {
            addTemplate($('.shop-table-tbody'), testTem)
          }
        })
      }
    })


    //添加模板
    /*
    * target 目标位置
    * data   数据
    */
    function addTemplate(target, data) {
      var nullStr = " "
      var data = data[0]
      var options = "";
      for (var i = 0; i < defaultOptions.length; i++) {
        options += '<option value="' + i + '" >' + defaultOptions[i] + '</option> '
      }

      var sku = zh = en = hs = num = kg = price = ""
      if (data) {
        sku = data.sku;
        zh = data.zh;
        en = data.en;
        hs = data.hs;
        num = data.num;
        kg = data.kg;
        price = data.price
      }

      var id = Date.now()
      var temp = '<tr>'
        + '<td class="sku"><input type="text" value= "' + sku + '" name="' + formNamesConfig.sku + (id) + '" class="form-control" required></td>'
        + ' <td class="zh-name"><input type="text" value="' + zh + '" class="form-control" name="' + formNamesConfig.zh + (id) + '" required></td>'
        + '<td class="en-name"><input type="text" value="' + en + '" class="form-control" name="' + formNamesConfig.en + (id) + '" required></td>'
        + '<td class="hs"><input type="text" value="' + hs + '" class="form-control" name="' + formNamesConfig.hs + (id) + '"></td>'
        + '<td class="num"><input type="text" value="' + num + '" class="form-control" positiveinteger="true" name="' + formNamesConfig.num + (id) + '" required></td>'
        + '<td class="kg"><input type="text" value="' + kg + '" class="form-control" name="' + formNamesConfig.kg + (id) + '" isNumber="true" required></td>'
        + '<td class="price"><input type="text" value="' + price + '" class="form-control" isNumber="true" name="' + formNamesConfig.price + (id) + '" required></td>'
        + '<td class="type">'
        + '<select name="' + formNamesConfig.type + (id) + '"  class="form-control"> ' + options + '</select>'
        + '</td>'
        + '<td class="delete"><button type="button" class="btn btn-primary btn-delete">删除</button></td>'
        + '</tr>';
      target.append($(temp))
    }
    //添加空数据
    $('.btn-add').on('click', function () {
      addTemplate($('.shop-table-tbody'), [])
    })

    //删除  事件委托
    $('.shop-table-tbody').on("click", ".btn-delete", function () {
      $(this).parent().parent().remove();
    })

    //获取包裹明细数据
    function getParcelData() {
      var parcel = $('.sender-parcel-detail-content')
      var order = parcel.find('input[name="order"]').val();
      var weight = parcel.find('input[name="weight"]').val();
      var remark = parcel.find('input[name="remak"]').val();

      return {
        order: order || "",
        weight: weight || "",
        remark: remark || ""
      }
    }

    //获取商品明细数据
    function getShopData() {
      // var data = decodeURI($(form).serialize());  //转码汉字\
      // for(var i in formNamesConfig){
      //   var thisName = formNamesConfig[i];
      //   var req = new RegExp(thisName+"[0-9]*=([\u4e00-\u9fa5]|[0-9]|[A-z])*",'igm')
      //   var nameData =  data.match(req) || []; 
      // }
      var Data = []; //商品明细数据
      $('.shop-table-tbody>tr').each(function (i, v) {
        var $this = $(this);
        var o = {};
        $this.find('input,select').each(function (index, input) {
          o[Object.keys(formNamesConfig)[index]] = $(input).val()
        })
        Data.push(o)
      })
      return Data;
    }
    //包裹明细
    $('form[name="parcel-form"]').validate({
      errorClass: 'v-error',
      errorElement: 'span',
      debug: true,
      ignore: ".note",
      submitHandler: function (form) {
        var allData = {}; //处理后所有数据

        try {
          var shopData = getShopData() || {};
          var parceData = getParcelData() || {};

          allData.shopData = shopData;
          allData.parceData = parceData;
          console.log(allData)
          $.ajax({
            url: "",
            type: "POST",
            data: allData,
            dataType: "json",
            success: function (data) {
              location.href = "./sender_three.html"
            },
            error: function () {
            }
          });
      
        } catch (e) {
          console.error('[Error]',e)
        }
      }
    })
    // //新增商品明细
    // $('form[name="add-shop-detail-form"]').validate({
    //   errorClass: 'v-error',
    //   errorElement: 'span',
    //   debug: true,
    //   submitHandler: function (form) {
    //     alert($(form).serialize())
    //     $.ajax({
    //       url: "",
    //       type: "POST",
    //       data: $(form).serialize(),
    //       dataType: "json",
    //       success: function (data) {
    //         alert('新增成功')
    //       },
    //       error: function () {
    //       }
    //     });
    //   }
    // });

    var $height = $(window).height();
    $height = $height - 440;
    $('.member-todo').css({
      minHeight: $height
    })
  })

</script>

</html>