<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>推广数据</title>
    <link rel="stylesheet" href="../static/lib/bootstrap.css">
    <link rel="stylesheet" href="../src/css/spreadData.css">
</head>
<body>
<section class="member-header not-select">
    <img src="../static/image/member/LOGO.png" alt="">
    <div class="member-header-right">
        <div class="member-header-usericon">
            <img src="../static/image/member/Head-portrait.png" alt="">
        </div>
        <span>易购全球</span>
        <a href="javascript:void(0)">安全退出</a> |
        <a href="javascript:void(0)">返回首页</a>
    </div>
</section>
<!--导航-->
<nav class="member-nav clearfix not-select">
    <ul>
        <li class="m-nav-index">
            <div class="m-nav-item">
                <span class="iconfont icon-huiyuanshouyeICON"></span>
                <span>首页</span>
            </div>
        </li>
        <li>
            <div class="m-nav-item">
                <span class="iconfont icon-woyaojijianICON"></span>
                <span>我要寄件</span>
                <div class="m-nav-arrow"> </div>
            </div>
            <ul class="m-nav-dropDown">
                <li><a href="#">出口寄件</a></li>
                <li><a href="#">进口寄件</a></li>
                <li><a href="#">运单列表</a></li>
                <li><a href="#">账单明细</a></li>
            </ul>
        </li>
        <li>
            <div class="m-nav-item">
                <span class="iconfont icon-kuajingshangpinICON"></span>
                <span>跨境商品</span>
                <div class="m-nav-arrow"> </div>
            </div>
            <ul class="m-nav-dropDown">
                <li class="m-nav-secTitle">供货</li>
                <li><a href="#">发布商品</a></li>
                <li><a href="#">商品管理</a></li>
                <li><a href="#">货源订单</a></li>
                <li class="m-nav-secTitle">分销</li>
                <li><a href="#">分销订单</a></li>
            </ul>
        </li>
        <li>
            <div class="m-nav-item">
                <span class="iconfont icon-beianshenbaoICON"></span>
                <span>备案申报</span>
                <div class="m-nav-arrow"> </div>
            </div>
            <ul class="m-nav-dropDown">
                <li><a href="#">商品备案</a></li>
                <li><a href="#">订单申报</a></li>
            </ul>
        </li>
        <li>
            <div class="m-nav-item">
                <span class="iconfont icon-wodedingdanICON"></span>
                <span>我的订单</span>
                <div class="m-nav-arrow"> </div>
            </div>
            <ul class="m-nav-dropDown">
                <li><a href="#">我的订单</a></li>
                <li><a href="#">我的订单</a></li>
            </ul>
        </li>
        <li>
            <div class="m-nav-item">
                <span class="iconfont icon-wodezichanICON"></span>
                <span>我的资产</span>
                <div class="m-nav-arrow"> </div>
            </div>
            <ul class="m-nav-dropDown">
                <li><a href="#">我的资产</a></li>
                <li><a href="#">我的资产</a></li>
                <li><a href="#">我的资产</a></li>
                <li><a href="#">我的资产</a></li>
            </ul>
        </li>
        <li>
            <div class="m-nav-item">
                <span class="iconfont icon-yonghuzhongxinICON"></span>
                <span>用户中心</span>
                <div class="m-nav-arrow"> </div>
            </div>
            <ul class="m-nav-dropDown">
                <li><a href="#">用户中心</a></li>
            </ul>
        </li>
    </ul>
</nav>
<!--会员中心-->
<section class="person-center">
    <div class="person-center-contain">
        <div class="person-bread-nav">
            <span>您的位置：</span>
            <ol class="breadcrumb">
                <li><a href="#">我要推广</a></li>
                <li class="active">推广数据</li>
            </ol>
        </div>
        <div class="person-center-wrap">
            <div class="person-center-title">
                <span class="iconfont icon-yonghuxinxixiushi"></span>
                <span>推广数据</span>
            </div>
            <div class="person-center-info">
                <ul class="spread-data-overview">
                   <li>
                       <p>累计收益 <span class="glyphicon glyphicon-question-sign"></span>
                           <span class="tips">返现时间影响，累积收益总额可能低于应收总额（业务总额*返现比）</span>
                       </p>
                       <span>￥180.0</span><br>
                       <a href="#">查看收益计算方式</a>
                   </li><li>
                       <p>直属推荐会员</p>
                       <span>￥180.0</span><br>
                   </li><li>
                       <p>业务总额</p>
                       <span>￥6000.00</span><br>
                   </li>
                </ul>
                <ul class="spread-data-nav">
                    <li class="active"><a href="#" >返现明细</a></li>
                    <li><a href="#">业务明细</a></li>
                    <li><a href="#">会员列表</a></li>
                </ul>
                <!--1.返现明细-->
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>统计月份</th>
                            <th>业务总额</th>
                            <th>返现比例</th>
                            <th>应返现金额</th>
                            <th>处理状态</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>10月</td>
                            <td>￥6000</td>
                            <td>3%</td>
                            <td>￥180.00</td>
                            <td>已返现</td>
                        </tr>
                    </tbody>
                </table>

                <!--2.业务明细-->
                <!--<table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>下单时间</th>
                            <th class="userIdSearch">用户ID &nbsp;&nbsp;&nbsp;
                                <input type="text" id="userIdSearch" placeholder="输入用户ID"><button id="searchBtn">搜索</button>
                            </th>
                            <th>运单号</th>
                            <th>物流产品</th>
                            <th>实际支付运费</th>
                        </tr>
                    </thead>
                    <tbody id="userIdSearchResult">
                        <tr>
                            <td>2016-11-14</td>
                            <td>IvyLee</td>
                            <td>LL3465432135465edc</td>
                            <td>邮政-E邮宝</td>
                            <td>￥180.00</td>
                        </tr>
                    </tbody>
                </table>-->

                <!--3.会员列表-->
                <!--<table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>注册时间</th>
                            <th>用户名</th>
                            <th>手机号</th>
                            <th>邮箱</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>2016-11-14</td>
                            <td>IvyLee</td>
                            <td>18212457896</td>
                            <td>example@163.com</td>
                        </tr>
                    </tbody>
                </table>-->
                <div class="mySpreadLink">
                    我的推广链接: <input id="copyLinkInput" type="text" value="http://www.egoint.com/front/register.html#U7ASLg">
                    <button class="ego-btn" id="copyLinkBtn">复制链接</button>
                    <span class="fadeTips">复制成功</span>
                </div>
            </div>
        </div>
    </div>
</section>
<!--会员中心页尾-->
<footer class="member-footer">
    <p>Copyright © 2016 易购全球平台 egoint.com All Rights Reserved 备案号：蜀ICP备15029615号</p>
</footer>
</body>
<script src="../static/lib/jquery.js"></script>
<script src="../static/lib/bootstrap.js"></script>
<script src="../src/js/public.js"></script>
<script src="../src/js/spreadReg.js"></script>
<script>
    $(document).ready(function () {
        var data = [{
            time:"2016.11.14",
            userId:"IvyLe",
            transNum:"LL3465432135465edc",
            product:"e-邮宝",
            cost:"182.00"
        },{
            time:"2016.11.15",
            userId:"IvyLe",
            transNum:"LL3465432135465edd",
            product:"e-邮宝",
            cost:"183.00"
        },{
            time:"2016.11.16",
            userId:"IvyLe",
            transNum:"LL3465432135465ede",
            product:"e-邮宝",
            cost:"184.00"
        }];
       /* /!*设置剪贴板*!/
        $("#copyLinkBtn").jclip({
            path:'js/ZeroClipboard.swf',
            copy:$('#copyLinkInput').val()
        });
        /!*$('#copyLinkBtn').on('click',function (e) {
            var link = $('#copyLinkInput').val();
            var tips = $('span.fadeTips');
            console.log(e)
            /!*if (!window.clipboardData) {
                //for chrome
                window.copy(link);
            }else {
                window.clipboardData.setData('Text',link);
            }
            tips.fadeIn(200);*!/
            setTimeout(function () {
                tips.fadeOut(500);
            },1500);
        });*!/*/

        $("#searchBtn").on('click',function () {
            var $id = $('#userIdSearch').val();
           /* $.ajax({
                url: "",
                type: "post",
                data: {userId:$id},
                dataType: "json",
                beforeSend:function(){
                    addLoading('查询中，请稍等');
                },
                success: function (data) {
                    removeLoading();
                    $('#userIdSearchResult').html(createHtml(data.data));
                },
                error: function () {
                    addPopUp("系统错误",2);
                    removeLoading()
                }
            });*/
            $('#userIdSearchResult').html(createHtml(data));
        });

        function createHtml(data) {
            var html = "";
            for (var i=0; i<data.length; i++ ){
                html += "<tr>" +
                        "   <td>"+data[i].time+"</td>" +
                        "   <td>"+data[i].userId+"</td>" +
                        "   <td>"+data[i].transNum+"</td>" +
                        "   <td>"+data[i].product+"</td>" +
                        "   <td>"+data[i].cost+"</td>" +
                        "</tr>";
            }
            return html;
        }
    });

</script>
</html>