<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .flex-contain{
            display: -webkit-flex;
            display: flex;
        }
        .flex-item{
            width: 100px;
            height: 30px;
            background-color: #00bbff;
            flex: 1;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="flex-contain">
        <div class="flex-item">1</div>
        <div class="flex-item">2</div>
        <div class="flex-item">3</div>
    </div>
</body>
</html>