<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>运单详情</title>
    <link rel="stylesheet" href="../static/lib/bootstrap.css">
    <link rel="stylesheet" href="../src/css/waybilldetail.css">
</head>
<body>
<section class="member-header not-select">
    <img src="../static/image/member/LOGO.png" alt="">
    <div class="member-header-right">
        <div class="member-header-usericon">
            <img src="../static/image/member/Head-portrait.png" alt="">
        </div>
        <span>易购全球</span>
        <a href="javascript:void(0)">安全退出</a> |
        <a href="javascript:void(0)">返回首页</a>
    </div>
</section>
<!--导航-->
<nav class="member-nav clearfix not-select">
    <ul>
        <li class="m-nav-index">
            <div class="m-nav-item">
                <span class="iconfont icon-huiyuanshouyeICON"></span>
                <span>首页</span>
            </div>
        </li>
        <li>
            <div class="m-nav-item">
                <span class="iconfont icon-woyaojijianICON"></span>
                <span>我要寄件</span>
                <div class="m-nav-arrow"> </div>
            </div>
            <ul class="m-nav-dropDown">
                <li><a href="#">出口寄件</a></li>
                <li><a href="#">进口寄件</a></li>
                <li><a href="#">运单列表</a></li>
                <li><a href="#">账单明细</a></li>
            </ul>
        </li>
        <li>
            <div class="m-nav-item">
                <span class="iconfont icon-kuajingshangpinICON"></span>
                <span>跨境商品</span>
                <div class="m-nav-arrow"> </div>
            </div>
            <ul class="m-nav-dropDown">
                <li class="m-nav-secTitle">供货</li>
                <li><a href="#">发布商品</a></li>
                <li><a href="#">商品管理</a></li>
                <li><a href="#">货源订单</a></li>
                <li class="m-nav-secTitle">分销</li>
                <li><a href="#">分销订单</a></li>
            </ul>
        </li>
        <li>
            <div class="m-nav-item">
                <span class="iconfont icon-beianshenbaoICON"></span>
                <span>备案申报</span>
                <div class="m-nav-arrow"> </div>
            </div>
            <ul class="m-nav-dropDown">
                <li><a href="#">商品备案</a></li>
                <li><a href="#">订单申报</a></li>
            </ul>
        </li>
        <li>
            <div class="m-nav-item">
                <span class="iconfont icon-wodedingdanICON"></span>
                <span>我的订单</span>
                <div class="m-nav-arrow"> </div>
            </div>
            <ul class="m-nav-dropDown">
                <li><a href="#">我的订单</a></li>
                <li><a href="#">我的订单</a></li>
            </ul>
        </li>
        <li>
            <div class="m-nav-item">
                <span class="iconfont icon-wodezichanICON"></span>
                <span>我的资产</span>
                <div class="m-nav-arrow"> </div>
            </div>
            <ul class="m-nav-dropDown">
                <li><a href="#">我的资产</a></li>
                <li><a href="#">我的资产</a></li>
                <li><a href="#">我的资产</a></li>
                <li><a href="#">我的资产</a></li>
            </ul>
        </li>
        <li>
            <div class="m-nav-item">
                <span class="iconfont icon-yonghuzhongxinICON"></span>
                <span>用户中心</span>
                <div class="m-nav-arrow"> </div>
            </div>
            <ul class="m-nav-dropDown">
                <li><a href="#">用户中心</a></li>
            </ul>
        </li>
    </ul>
</nav>
<!--会员中心-->
<section class="person-center">
    <div class="person-center-contain">
        <div class="person-bread-nav">
            <span>您的位置：</span>
            <ol class="breadcrumb">
                <li><a href="#">首页</a></li>
                <li><a href="#">我要寄件</a></li>
                <li><a href="#">运单列表</a></li>
                <li class="active">运单详情</li>
            </ol>
        </div>
        <div class="person-center-wrap">
            <div class="person-center-info">
                <p class="wb-detail-title">运单详情</p>
                <!--物流-->
                <div class="wb-detail-item">
                    <p>物流信息</p>
                    <div class="wb-detail-deliveryInfo">
                        <p>
                            国内单号：<span>EP16101373314510009EB</span>
                            国际单号：<span>EP16101373314510009EB</span>
                        </p>
                        <div class="wb-detail-deliveryStepCon">
                            <div class="wb-detail-deliveryStep">
                                <span>2016-12-28 10:28</span>
                                <div class="wb-del-circle">
                                </div>
                                <span>离开成都市 发往纽约肯尼迪机场 成都市</span>
                            </div>
                            <div class="wb-detail-deliveryStep">
                                <span>2016-12-27 21:26 </span>
                                <div class="wb-del-circle">
                                </div>
                                <span>成都市邮政速递物流有限公司国际业务分公司已收件（揽投员姓名：程威,联系电话:） 成都市</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!--收发件人-->
                <div class="wb-detail-item">
                    <p>收发件人信息</p>
                    <div class="wb-detail-roleInfo">
                        <div class="wb-detail-2col">
                            <p>发货人信息</p>
                            <p>姓名：<span>诺诺诺</span></p>
                            <p>电话：<span>12345678901</span></p>
                            <p>地址：<span>四川省成都市高新区天府五街天府软件园D区D5-4</span></p>
                            <p>邮编：<span>610000</span></p>
                        </div>
                        <div class="wb-detail-2col">
                            <p>收货人信息</p>
                            <p>姓名：<span>诺你妹</span></p>
                            <p>电话：<span>12345678901</span></p>
                            <p>地址：<span>四川省成都市高新区天府五街天府软件园D区D5-6</span></p>
                            <p>邮编：<span>610001</span></p>
                        </div>
                    </div>
                </div>
                <!--运单信息-->
                <div class="wb-detail-item">
                    <p>运单信息</p>
                    <div class="wb-detail-waybillInfo">
                        <div class="wb-detail-2col">
                            <p>运单详情</p>
                            <p>下单时间：<span>2016-11-10 12:20:22</span></p>
                            <p>订单号码：<span>LL160527670002EC</span></p>
                            <p>运单号码：<span>LL160527670002EC</span></p>
                            <p>物流产品：<span>蓉欧-小包</span></p>
                            <p>包裹重量：<span>2KG</span></p>
                            <p>预估费用：<span>￥300</span></p>
                            <p>第三方单号：<span>LL160527670002EC</span></p>
                        </div>
                        <div class="wb-detail-2col">
                            <p>支付信息</p>
                            <p>计费重量：<span>2KG</span></p>
                            <p>实际运费：<span>￥300</span></p>
                            <p>支付状态：<span>已支付</span></p>
                            <p>异常费用：<span></span></p>
                        </div>
                    </div>
                </div>
                <!--运单信息-->
                <div class="wb-detail-item">
                    <p>商品信息</p>
                    <div class="wb-detail-goodsInfo">
                        <table class="table table-break table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th>SKU</th>
                                    <th>商品名称(中文)</th>
                                    <th>商品名称(英文)</th>
                                    <th>HS编码</th>
                                    <th>数量</th>
                                    <th>净重(kg)</th>
                                    <th>申报单价</th>
                                    <th>申报币别</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>L326541</td>
                                    <td>裙子</td>
                                    <td>Skirt</td>
                                    <td>6552142365</td>
                                    <td>2</td>
                                    <td>2</td>
                                    <td>20</td>
                                    <td>USD</td>
                                </tr>
                                <tr>
                                    <td>L326541</td>
                                    <td>裙子</td>
                                    <td>Skirt</td>
                                    <td>6552142365</td>
                                    <td>2</td>
                                    <td>2</td>
                                    <td>20</td>
                                    <td>USD</td>
                                </tr>
                                <tr>
                                    <td>L326541</td>
                                    <td>裙子</td>
                                    <td>Skirt</td>
                                    <td>6552142365</td>
                                    <td>2</td>
                                    <td>2</td>
                                    <td>20</td>
                                    <td>USD</td>
                                </tr>
                                <tr>
                                    <td>L326541</td>
                                    <td>裙子</td>
                                    <td>Skirt</td>
                                    <td>6552142365</td>
                                    <td>2</td>
                                    <td>2</td>
                                    <td>20</td>
                                    <td>USD</td>
                                </tr>
                            </tbody>
                        </table>
                        <div>
                            <p>入仓地址：<span>成都市双流区西航港大道黄河中路一段149号</span></p>
                            <p>联系人：<span>姓名</span></p>
                            <p>联系电话：<span>028-65596899</span></p>
                            <p>邮编：<span>610041</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="waybilldetail-back">
            <button class="ego-btn"><a href="">返回运单列表</a></button>
        </div>
    </div>
</section>
<!--会员中心页尾-->
<footer class="member-footer">
    <p>Copyright © 2016 易购全球平台 egoint.com All Rights Reserved 备案号：蜀ICP备15029615号</p>
</footer>
</body>
<script src="../static/lib/jquery.js"></script>
<script src="../static/lib/bootstrap.js"></script>
</html>