.ego-search{
    height: 600px;
    background: url("../../../static/image/exportsec/banner.jpg") no-repeat center center;
    position: relative;
}
.ego-search-box{
    width: 704px;
    height: 348px;
    box-sizing: border-box;
    position: absolute;
    top: 55%;
    left: 50%;
    margin-left: -352px;
    margin-top: -174px;
    border-radius: 5px;
    box-shadow: 0 12px 24px rgba(0, 0, 0, .75);
}
.ego-search-wrap{
    background-color: white;
}
/*查询导航*/
.ego-search-nav{
    width: 110px;
    height: 348px;
    float: left;
}
.ego-search-type{
    height: 116px;
    box-sizing: border-box;
    border-bottom: 1px solid #cecece;
    border-right: 1px solid #cecece;
    text-align: center;
    padding-top: 24px;
    background-color: #efefef;
    cursor: pointer;
}
.ego-search-type:last-child{
    border-bottom:none;
}
.ego-search-type > span{
    font-size: 30px;
    color: #999999
}
.ego-search-type > p{
    font-size: 18px;
}
.ego-search-type.active{
    background-color: white;
    border-right: none;
}
.ego-search-type.active > span{
    color: #3e5c9d;
}
.ego-search-type.active > p{
    color: #3e5c9d;
}
/*查询条件*/
.ego-search-contain{
    float: left;
    width: 594px;
    height: 348px;
    background-color: white;
    padding: 25px 0 0 50px;
}
.ego-search-item{
    width: 420px;
    display: none;
    position: relative;
}
.ego-search-item.active{
    display: block;
}
.ego-search-item.package img.trackLogo{
    position: absolute;
    right: 5px;
    bottom: 5px;
}
.ego-search-title{
    overflow: hidden;
}
.ego-search-title > div{
    width: 50%;
    box-sizing: border-box;
    text-align: center;
    font-size: 16px;
    float: left;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
}
.ego-search-title > div.active{
    color: #3e5c9d;
    border-bottom: 2px solid #3e5c9d;
}
.ego-search-item .container-fluid{
    margin-top: 20px;
    display: none;
}
.ego-search-item .container-fluid.active{
    display: block;
}
.ego-search-item .row input,
.ego-search-item .row select{
    border: 1px solid #dddddd;
    height: 40px;
    width: 100%;
    font-size: 14px;
    padding-left: 5px;
}
.ego-search-item .row > div{
    font-size: 16px;
    padding: 10px 10px;
}
.ego-search-item .row > div.div-1{
    height: 60px;
    line-height: 40px;
    text-align: right;
}
.ego-search-item .row > div.div-3{
    font-size: 16px;
    padding: 10px 0;
    line-height: 40px;
}
.ego-search-item .row > div.div-12{
    padding: 10px 0;
}
.ego-search-item .row .ego-search-btn{
    width: 100%;
    height: 40px;
    border: none;
    color: white;
    background-color: #3e5c9d;
}
/*select2样式重置*/
.select2-container--default .select2-selection--single{
    border: 1px solid #dddddd;
}
.select2-container .select2-selection--single{
    height: 40px;
    border-radius: 0;
    font-size: 14px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: 40px;
    font-size: 14px;
    width: 100%;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
    top: 6px;
}
.wayBillTextArea{
    width: 100%;
    height: 156px;
    resize:none;
    margin: 15px 0 15px 0;
    line-height: 26px;
    padding: 0 15px;
    font-size: 14px;
    background: url("../../../static/image/exportsec/textareabg.png");
}
/*
.wayBillTextArea.thirdway{
    height: 104px;
}*/
